<div id="user_dropdown">
    <div class="btn-group">
        <a id="user_button" class="btn btn-primary" href="#"><i class="icon-user icon-white" style="margin-right: 5px;"></i> <%= displayName %></a>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/create_account"><i class="icon-plus-sign"></i> Create an Account</a></li>
            <li><a href="#!settings"><i class="icon-cog"></i> Account Settings</a></li>
            <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
            <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
            <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="i"></i> Make admin</a></li>
        </ul>
    </div>
</div>
<div id="user_modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>User Information</h3>
    </div>
    <div class="modal-body" style="padding: 15px">
        <label>Sign in</label>
        <input id="user_email" type="text" class="input-small" placeholder="Email">
        <input id="user_password" type="text" class="input-small" placeholder="Password">
        <button type="submit" class="btn btn-primary" style="position: relative; top: -4px;">Submit</button>
        <label class="checkbox">
            <input type="checkbox" checked>Stay signed in?
        </label>
        <a href="#" id="google_button" class="btn btn-success">Sign in with Google</a>
    </div>
</div>

<div id="event_login_modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>You need an account to save events.</h3>
    </div>
    <div class="modal-body" style="padding: 15px">
        <h3>Sign in.</h3>
        <form class="form-inline">
          <input id="login_email" type="text" class="input-medium" placeholder="Email">
          <input id="login_pw" type="password" class="input-medium" placeholder="Password">
          <button id="login_button" type="submit" class="btn btn-primary">Sign in</button>
        </form>
        <br/>
        <h1>OR</h1>
        <br/><br/>
        <h3>Create an account.</h3>
        <form class="form-inline">
            <input id="create_account_email" type="text" class="input-medium" placeholder="Email">
            <button id="create_account_button" type="submit" class="btn btn-primary">Create Account</button>
        <form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
    </div>
</div>
