<% if (isLoggedIn) { %>
<div id="user_dropdown" class="pull-left">
	<div class="btn-group inline">
		<a id="user_button" class="btn btn-small btn-primary" href="#" data-toggle="button"><i class="icon-user icon-white" style="margin-right: 5px;"></i> <%= displayName %></a>
		<a class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="#!settings"><i class="icon-cog"></i> Account Settings</a></li>
			<li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
			<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
			<li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
			<li><a href="#" id="enableNotifications"><i class="icon-ban-circle"></i> Notifications</a></li>
			<li class="divider"></li>
			<li><a href="#"><i class="i"></i> Make admin</a></li>
		</ul>
	</div>
</div>

<% } else { %>
<a id="controls_create_account_button" class="btn btn-small btn-info account_control_button" href="#"><i class="icon-heart icon-white"></i> Create Account</a>
<a id="controls_login_button" class="btn btn-small btn-primary account_control_button" href="#"><i class="icon-lock icon-white"></i> Sign In</a>
<% } %>


<!--
<div id="google_dropdown" class="pull-left">
	<div class="btn-group">
		<a id="google_button" class="btn" href="#"><i class="icon-user icon-white" style="margin-right: 5px;"></i> Synced Calendars</a>
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="/account/create_account"><i class="icon-refresh"></i> Google<div class="sync-syncing"><div class="progress progress-striped active" style="height:8px"><div class="bar" style="width: 40%;"></div></div></div></a></li>
			<li><a href="/account/create_account"><i class="icon-ok"></i> Facebook</a></li>
			<li class="divider"></li>
		</ul>
	</div>
</div>
-->

<div id="user_modal" class="modal hide fade">

	<form id="login_form"
	data-filter="account.login" 
	style="display: none;"
	onsubmit="return false;">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Sign In</h3>
		</div>

		<div class="modal-body">
			<div class="form-horizontal">

				<div class="control-group">
					<label class="control-label" for="loginEmail">Email</label>
					<div class="controls">
						<input tabindex="1" type="text" id="loginEmail" placeholder="Email"/>
						<span class="help-inline"></span>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="loginPassword">Password</label>
					<div class="controls">
						<input tabindex="2" type="password" id="loginPassword" placeholder="Password"/>
						<span class="help-inline"></span>
					</div>
				</div>

				<div class="control-group">
					<div class="controls">
						<label class="checkbox">
							<input tabindex="3" type="checkbox" id="loginRemember"> Remember me
						</label>
					</div>
				</div>

				<hr />

				<div class="control-group">
					<label class="control-label">Or Connect</label>
					<div class="controls">
						<a href="#" tabindex="5" id="google_button" class="btn">Use Google</a>
						<a href="#" tabindex="6" id="facebook_button" class="btn">Use Facebook</a>
					</div>
				</div>

			</div>
		</div>

		<div class="modal-footer">
			<div class="controls controls-row">
				<a id="show_create_button" class="btn btn-large span2" href="#">Create Account</a>
				<button tabindex="4" 
				id="login_button" 
				type="button" 
				class="btn btn-primary btn-large span4" 
				data-submit-trigger="1" 
				data-loading-text="Signing in...">Sign In</button>
			</div>
		</div>

	</form>

	<!-- Follow this style for proper forms. -->
	<form id="create_form" 
	data-filter="account.create" 
	style="display: none;"
	onsubmit="return false;">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Create Account</h3>
		</div>

		<div class="modal-body" style="padding: 15px">
			<div class="form-horizontal">

				<div class="control-group">
					<label class="control-label" for="createAccountEmail">Email</label>
					<div class="controls">
						<input tabindex="1" data-focus="1" type="text" id="createAccountEmail" placeholder="Email">
						<span class="help-inline"></span>
					</div>
				</div>

				<hr />

				<div class="control-group">
					<label class="control-label">Or Connect</label>
					<div class="controls">
						<a tabindex="3" href="#" id="google_button" class="btn">Use Google</a>
						<a tabindex="4" href="#" id="facebook_button" class="btn">Use Facebook</a>
					</div>
				</div>

			</div>
		</div>

		<div class="modal-footer">
			<div class="controls controls-row">
				<a tabindex="5" id="show_login_button" class="btn btn-large span1" href="#">Sign In</a>
				<button tabindex="2" 
				id="create_account_button" 
				type="button" 
				class="btn btn-primary btn-large span5" 
				data-submit-trigger="1" 
				data-loading-text="Creating account...">Create Account</button>
			</div>
		</div>

	</form>


</div>

