
<% if (!dayCode) { %>

	<h2>Select or add an event.</h2>
	<div class="row-fluid" style="min-width: 500px; min-height: 300px">
		Select an existing event from the left or add a new one.
	</div>

<% } else { %>

	<h2><%= name %></h2>
	<ul class="nav nav-tabs">
	    <li class="active">
	        <a href="#">Event Overview</a>
	    </li>
	    <li><a href="#">Invite</a></li>
	    <li><a href="#">Privacy</a></li>
	</ul>
	<div class="row-fluid" style="min-width: 500px;">
		<div class="span7">
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="beginTime">Begins</label>
					<div class="controls">
						<div class="input-append">
							<input class="span6 time_input" id="beginTime" size="16" type="text"><span class="add-on"><i class="icon-time"></i> EST</span>
						</div>
						<span class="help-inline"></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="endTime">Ends</label>
					<div class="controls">
						<div class="input-append">
							<input class="span6 time_input" id="endTime" size="16" type="text"><span class="add-on"><i class="icon-time"></i> EST</span>
						</div>
						<span class="help-inline"></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="description">Description</label>
					<div class="controls">
						<textarea id="description" class="span12" rows="8"></textarea>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
					    <button type="button" id="saveButton" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</form>
		</div>
		<div class="span5">
			<form class="form-horizontal">
				<div class="control-group" style="margin-bottom: 0px;">
					<label for="location" style="float: left; margin-top: 5px; padding-right: 10px;">Where</label>
					<div class="controls" style="margin-left: 20px;">
						<input class="span10" id="location" size="16" type="text">
					</div>
					<span class="help-inline"></span>
				</div>
				<div style="margin: 0px 10px 10px 0px">
					<div id="event_map" style="width: 100%; height: 400px; border: 1px solid #ccc;"></div>
				</div>
			</form>
		</div>
		<div class="span12">

		</div>
	</div>

	<div id="login_modal" class="modal hide fade">
	    <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h3>You need an account to save events.</h3>
	    </div>
	    <div class="modal-body" style="padding: 15px">
	    	<h3>Sign in.</h3>
	    	<form class="form-inline">
			  <input type="text" class="input-medium" placeholder="Email">
			  <input type="password" class="input-medium" placeholder="Password">
			  <button type="submit" class="btn btn-primary">Sign in</button>
			</form>
			<br/>
			<h1>OR</h1>
			<br/><br/>
			<h3>Create an account.</h3>
			<form class="form-inline">
				<input type="text" class="input-medium" placeholder="Email">
 				<button type="submit" class="btn btn-primary">Create Account</button>
 			<form>
	    </div>
	    <div class="modal-footer">
        	<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
        </div>
	</div>


<% } %>

