<div class="container" style="width: 25%;">
	<div style="text-align: center; margin-top: 50px; padding-top: 50px; background: rgba(255, 255, 255, 0.9); 
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 1px solid #000000;
	-webkit-box-shadow:  3px 3px 10px 0 rgba(0, 0, 0, .7);
	box-shadow:  3px 3px 10px 0 rgba(0, 0, 0, .7);">
		<h1><%= message %></h1>
		<div class="spinner">
			<div class="bar1"></div>
			<div class="bar2"></div>
			<div class="bar3"></div>
			<div class="bar4"></div>
			<div class="bar5"></div>
			<div class="bar6"></div>
			<div class="bar7"></div>
			<div class="bar8"></div>
			<div class="bar9"></div>
			<div class="bar10"></div>
			<div class="bar11"></div>
			<div class="bar12"></div>
		</div>
	</div>
</div>