<div class="week">
    <div class="day_wrap">
        <div class="day" data-day-code="<%= dayCodes.d0 %>" data-month-code="<%= monthCodes.d0 %>">
            <span class="day_num"><%= days.d0 %></span>
            <div class="event_holder"></div>
        </div>
    </div>
    <div class="day_wrap">
        <div class="day" data-day-code="<%= dayCodes.d1 %>" data-month-code="<%= monthCodes.d1 %>">
            <span class="day_num"><%= days.d1 %></span>
            <div class="event_holder"></div>
        </div>
    </div>
    <div class="day_wrap">
        <div class="day" data-day-code="<%= dayCodes.d2 %>" data-month-code="<%= monthCodes.d2 %>">
            <span class="day_num"><%= days.d2 %></span>
            <div class="event_holder"></div>
        </div>
    </div>
    <div class="day_wrap">
        <div class="day" data-day-code="<%= dayCodes.d3 %>" data-month-code="<%= monthCodes.d3 %>">
            <span class="day_num"><%= days.d3 %></span>
            <div class="event_holder"></div>
        </div>
    </div>
    <div class="day_wrap">
        <div class="day" data-day-code="<%= dayCodes.d4 %>" data-month-code="<%= monthCodes.d4 %>">
            <span class="day_num"><%= days.d4 %></span>
            <div class="event_holder"></div>
        </div>
    </div>
    <div class="day_wrap">
        <div class="day" data-day-code="<%= dayCodes.d5 %>" data-month-code="<%= monthCodes.d5 %>">
            <span class="day_num"><%= days.d5 %></span>
            <div class="event_holder"></div>
        </div>
    </div>
    <div class="day_wrap">
        <div class="day" data-day-code="<%= dayCodes.d6 %>" data-month-code="<%= monthCodes.d6 %>">
            <span class="day_num"><%= days.d6 %></span>
            <div class="event_holder"></div>
        </div>
    </div>
</div>