<div class="week">
    <div class="day_wrap">
        <div class="day" data-day-code="<%= dayCodes.d0 %>">
            <span class="day_num"><%= days.d0 %></span>
            <div class="event_holder"></div>
        </div>
    </div>
    <div class="day_wrap">
        <div class="day" data-day-code="<%= dayCodes.d1 %>">
            <span class="day_num"><%= days.d1 %></span>
            <div class="event_holder"></div>
        </div>
    </div>
    <div class="day_wrap">
        <div class="day" data-day-code="<%= dayCodes.d2 %>">
            <span class="day_num"><%= days.d2 %></span>
            <div class="event_holder"></div>
        </div>
    </div>
    <div class="day_wrap">
        <div class="day" data-day-code="<%= dayCodes.d3 %>">
            <span class="day_num"><%= days.d3 %></span>
            <div class="event_holder"></div>
        </div>
    </div>
    <div class="day_wrap">
        <div class="day" data-day-code="<%= dayCodes.d4 %>">
            <span class="day_num"><%= days.d4 %></span>
            <div class="event_holder"></div>
        </div>
    </div>
    <div class="day_wrap">
        <div class="day" data-day-code="<%= dayCodes.d5 %>">
            <span class="day_num"><%= days.d5 %></span>
            <div class="event_holder"></div>
        </div>
    </div>
    <div class="day_wrap">
        <div class="day" data-day-code="<%= dayCodes.d6 %>">
            <span class="day_num"><%= days.d6 %></span>
            <div class="event_holder"></div>
        </div>
    </div>
</div>