<div class="week">
    <div class="day_wrap">
        <div class="day">
            <span class="day_num"><%= d0 %></span>
        </div>
    </div>
    <div class="day_wrap">
        <div class="day">
            <span class="day_num"><%= d1 %></span>
        </div>
    </div>
    <div class="day_wrap">
        <div class="day">
            <span class="day_num"><%= d2 %></span>
        </div>
    </div>
    <div class="day_wrap">
        <div class="day">
            <span class="day_num"><%= d3 %></span>
        </div>
    </div>
    <div class="day_wrap">
        <div class="day">
            <span class="day_num"><%= d4 %></span>
        </div>
    </div>
    <div class="day_wrap">
        <div class="day">
            <span class="day_num"><%= d5 %></span>
        </div>
    </div>
    <div class="day_wrap">
        <div class="day">
            <span class="day_num"><%= d6 %></span>
        </div>
    </div>
</div>