/*

WE USE UNDERSCORES.
BOOTSTRAP USES DASHES.
HELPS DIFFERENTIATE.

ARE YOU SURE YOU NEED CUSTOM CSS?  
CHECK BOOTSTRAP DOCS FIRST TO SEE IF IT ALREADY EXISTS. 

ONE TIME USE ITEMS CAN BE DONE INLINE.

*/

html {
  width:100%;
  background: url('../img/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  width:100%;
  background: transparent;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #eee;
  width: 100%;
  height: 40px;
  margin: 0;
  background: -moz-linear-gradient(#fff, #ddd);
  background: -webkit-linear-gradient(#fff, #ddd);
  background: -o-linear-gradient(#fff, #ddd);
  -webkit-box-shadow:  3px 3px 5px 0px rgba(0, 0, 0, .3);
  box-shadow:  3px 3px 5px 0px rgba(0, 0, 0, .3);
  border-bottom: 1px solid #000;
}

#header_left {
  float: left;
  width: 200px;
  margin-left: -100%;
}

#header_center_wrap {
  float: left;
  width: 100%;
  height: 100%;
}

#header_center {
  height: 100%;
  margin: 0 200px 0 200px;
  min-width: 560px; /* 960 (#calender min-width) - header_left - header_right */
  text-align: center;
}

#header_right {
  float: left;
  width: 200px;
  margin-left: -200px;
  margin-top: -5px;
}

#content {
  margin-top: 40px;
}

#month_button_wrap {
  float: left;
  border-left: 1px solid #999;
  border-right: 1px solid #fff;
}

.month_button {
  float: left;
  cursor: pointer;
  padding: 0px 8px 0px 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #999;
}

.month_button:hover {
  background: -moz-linear-gradient(#ddd, #bbb);
  background: -webkit-linear-gradient(#ddd, #bbb);
  background: -o-linear-gradient(#ddd, #bbb);
}

  .month_button .dropdown-menu {
    text-align: left;
  }

  .month_button .icon-caret-down {
    font-size: 24px;
    margin-top: -1px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1), 
    1px -1px 1px rgba(0, 0, 0, 1),
    -1px 1px 1px rgba(0, 0, 0, 1),
    -1px -1px 1px rgba(0, 0, 0, 1);
  }

  .month_button .icon-caret-down:hover {
    text-decoration: none;
  }

.month_heading {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  line-height: 40px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 1), 
    2px -2px 1px rgba(0, 0, 0, 1),
    -2px 2px 1px rgba(0, 0, 0, 1),
    -2px -2px 1px rgba(0, 0, 0, 1);
}

#user_dropdown {
    margin-top: 10px;
    margin-right: 10px;
    text-align: left;
    float: right;
}

#user_modal {
  text-align: left;
  width: 380px;
  margin: -200px 0 0 -190px;
}

#calendar {   
    margin: 30px auto;
    padding: 10px 0 0 10px;
    width: 80%;
    min-width: 960px;
}

.week {
    clear: both;
}

.day_wrap {
    float: left;
    width: 14%; 
    height: 200px;
}

.day {   
    margin: 0 10px 10px 0;
    height: 95%;
    width: 95%;

    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 1px solid #000000;
    -webkit-box-shadow:  3px 3px 5px 0 rgba(0, 0, 0, .3);
    box-shadow:  3px 3px 5px 0 rgba(0, 0, 0, .3);

    background: #fff;
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
    background: -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
}

  .day .label { 
    margin: 5px; 
  }

.has_event {
  background: #f6f8f9; /* Old browsers */
  background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
}

.day_num    {   
    margin: 0 0 0 5px;
    font-size: 40px;
    color: #fff;
    opacity: 0.9;
    line-height: 40px;
    text-shadow: 
        rgba(0,0,0,0.7) -1px 1px,
        rgba(0,0,0,0.7) -1px -1px,
        rgba(0,0,0,0.7) 1px 1px,
        rgba(0,0,0,0.7) 1px  -1px;
}

#day_view_holder {
  width: 90%;         /* Width must be specified inline in index.dust */
  margin-left: -45%;  /* Must be (width / 2) */
}

  #day_view_holder .modal-body {
    background: -moz-linear-gradient(left, rgba(204,204,204,0) 180px, rgba(204,204,204,0.25) 215px, rgba(255,255,255,1.0) 216px); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(180px,rgba(204,204,204,0)), color-stop(215px,rgba(204,204,204,0.25)), color-stop(216px,rgba(255,255,255,1.0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(204,204,204,0) 180px,rgba(204,204,204,0.25) 215px, rgba(255,255,255,1.0) 216px); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(204,204,204,0) 180px,rgba(204,204,204,0.25) 215px, rgba(255,255,255,1.0) 216px); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(204,204,204,0) 180px,rgba(204,204,204,0.25) 215px, rgba(255,255,255,1.0) 216px); /* IE10+ */
    background: linear-gradient(to right,  rgba(204,204,204,0) 180px,rgba(204,204,204,0.25) 215px, rgba(255,255,255,1.0) 216px); /* W3C */
  }

  #day_view_holder .two_col_left legend {
    line-height: 20px; 
    border: none;
    margin: 0px 0px 12px 5px;
    padding-top: 70px;
  }










/*///////////////////////////////////////////////////////////////////////////*/
/* BOOTSTRAP OVERRIDES */
/*///////////////////////////////////////////////////////////////////////////*/

.modal-body {
  padding: 0;
}
