/*
Use underscores to differentiate our styles from bootstrap stuff.
Will also help with namespace collision.
*/

html {
  background: url('../img/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: transparent;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #eee;
  width: 100%;
  height: 40px;
  margin: 0;
  background: -moz-linear-gradient(#fff, #ddd);
  background: -webkit-linear-gradient(#fff, #ddd);
  background: -o-linear-gradient(#fff, #ddd);
  -webkit-box-shadow:  3px 3px 5px 0px rgba(0, 0, 0, .3);
  box-shadow:  3px 3px 5px 0px rgba(0, 0, 0, .3);
  border-bottom: 1px solid #000;
}

#content {
  margin-top: 40px;
}

#month_controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#month_name {
  color: #666;
  margin-top: -1px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

#account_view_holder {
  position: absolute;
  top: 0;
  left: 75%;
  width: 100%;
  margin-top: -5px;
  text-align: right;
}

#user_dropdown {
    margin-top: 10px;
    margin-right: 100px;
    text-align: left;
}

#calendar {   
    margin: 30px auto;
    padding: 10px 0px 0px 10px;
    width: 80%;
    min-width: 960px;
}

.week {
    clear: both;
}

.day_wrap {
    float: left;
    width: 14%; 
    height: 200px;
}

.day {   
    margin: 0 10px 10px 0;
    height: 95%;
    width: 95%;

    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 1px solid #000000;
    -webkit-box-shadow:  3px 3px 5px 0px rgba(0, 0, 0, .3);
    box-shadow:  3px 3px 5px 0px rgba(0, 0, 0, .3);

    background: #fff;
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
    background: -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
}

.day_num    {   
    margin: 0 0 0 5px;
    font-size: 40px;
    color: #fff;
    opacity: 0.9;
    line-height: 40px;
    text-shadow: 
        rgba(0,0,0,0.7) -1px 1px,
        rgba(0,0,0,0.7) -1px -1px,
        rgba(0,0,0,0.7) 1px 1px,
        rgba(0,0,0,0.7) 1px  -1px;
}

.two_col_content_wrap {
  float: left;
  width: 100%;
}

.two_col_content {
  margin-left: 200px;
}

.two_col_left {
  float: left;
  width: 200px;
  margin-left: -100%;
  background: #c8fc98;
}












/*///////////////////////////////////////////////////////////////////////////*/
/* BOOTSTRAP OVERRIDES */
/*///////////////////////////////////////////////////////////////////////////*/

.modal-body {
  padding: 0;
}
